# Python
__pycache__/
*.pyc
.env
.venv/
venv/
venv_gpu/

# Node
node_modules/

# Build
dist/
build/

# Editor
.vscode/
.idea/

# Data and experiment artifacts
data/
data1/*
!data1/*.yaml
datasets/
runs/
SampleVideosForDetection/
*.zip

# Weights
*.pt

# Videos
*.mp4
*.mkv
*.avi
*.gif

# Images
*.jpg
*.jpeg
*.png
